@charset "utf-8";
body,html{font-family: Arial,sans-serif;width:100%}
.none{margin:0;padding:0;}
.no-list-style{list-style:none;}
.wrapall{position:relative;width:100%;}
.abs{position:absolute;}
#left_menu {margin:0 auto;width:120px;font-size:13px;float:left;min-height:460px;}
#left_menu .item{padding: 10px; text-align: center;overflow:hidden;}
a,a:hover{text-decoration:none;color:#C00}
.center{margin:10px 0 85px 0;}
#banner{height:80px;background:#09497B;}
#footer{height:50px;background:#9f9999;position:fixed;bottom:0px;width:100%;}
#main{padding:0 0 0 30px;margin:0 0 0 125px;width:1000px;min-height:520px;overflow:hidden;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix{zoom: 1;} /* IE7 */
.font14{font-size:14px;font-weight:700}
.red{background-color:#ea9999;;}
.green{background-color:#b6d7a8}
.yellow{background-color:#ffe599}
.yellow2{background-color:#ffd966}
.white{background-color:#fff;}
.block{background-color:#cccccc;}
.redBorder{border-color:#ea9999;;}
.greenBorder{border-color:#b6d7a8}
.yellowBorder{border-color:#ffe599}
.color-blue{color:blue;}
.left{float:left;}

.w500{width:500px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w800{width:800px;}
#accordion .aClass1{color:#004276;font-weight:900;}
#accordion  .aClass2{color:#252525;font-weight:500;}
.loadingRuntxt{position:absolute;top:0;left:45%;}
.memu{background-color:#9F9999;}
.inline{display:inline;}
