@charset "utf-8";
.filelayout{border:2px solid #191b22;}
.filelayout-item{}
.border-right{border-right:#ff0 solid 1px;}
.filelayout-item-span{padding:0 30px 0;}
.title01 {font-size: 20px;font-weight: 700;height: 25px;line-height: 20px;color: #004276;}